# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/
env/

# Data Version Control (DVC)
.dvc/cache/
.dvc/tmp/
.dvc/updater/
dvc.lock

# MLflow
mlruns/

# IDE files
.vscode/

# Operating System Files
.DS_Store
Thumbs.db
